* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.leader {
	background-color: #FFFFE0;
	margin: 0;
	padding: 0;
}

.leader-1 {
	margin: 0;
	padding: 0;
}

@media(max-width: 700px) {
	.leader-1 {
		display: none;
	}
}

.navbar {
	padding: 0;
	display: flex;
	/*position: fixed;*/
	background-color: #191919;  
	width: 100%;
	/*z-index: 100;*/
	margin: 0;
	height: 100px;
}

.navbar-brand {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: #f2f2f2;
	/*margin-left: 30px;*/
	margin-top: 10px;
}

.nav-item {
	font-family: 'Cardo', serif;
	color: #191919;
	margin-top: 10px;
	text-decoration: none;
	list-style: none;
}

.nav-item:hover {
	color: #191919;
	border-bottom: 2px solid white;
}

.large-title {
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: 40%;
	padding-bottom: 20%;
/*	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);*/
	font-family: 'Cardo', serif;
	font-weight: bold;
}

.header {
	margin-top: 100px;
	padding: 0;
	margin: 0;
}

.carousel {
	padding: 0;
	margin: 0;
}

.carousel-item{
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.carousel-item img {
	height: 100vh;
	width: 100%;
	object-fit: cover;
}


.projects-title {
	display: block;
	text-decoration: underline;
	text-underline-position: under;
	margin-top: 2%;
	margin-bottom: 2%;
}

.projects-title h2 {
	font-family: 'Cardo', serif;
	margin-left: 5%;
	padding: 0;
}

.view-projects{
	font-family: 'Cardo', serif;
	margin-left: 50%;
	text-decoration: underline;
	text-underline-position: under;
}

@media(max-width: 700px) {
	.view-projects {
		display: none;
	}
}

.project-items {
	margin: 0;
	padding: 0;
}

.project-item {
	margin: 0;
	padding: 0;
}

.card {
	border-style: none;
	background-color: hsl(0, 0%, 97%);
}

.card-title {
	font-family: 'Fjalla One', sans-serif;
}

.card-text {
	font-family: 'Cardo', serif;
}

.btn {
	border-color: #191919;
	color: #191919;
	font-family: 'Fjalla One', sans-serif;
}

.about-grid {
	padding: 0;
	margin: 0;
}

.technologies {
	background-color: #fcfcfc;
	padding: 30px;
}

.about-bio {
	background-color: #FFFFE0;
	padding: 30px;
}

.about-image {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 20px;
}

.contact-grid {
	padding: 0;
	margin: 0;
}

.contact-details {
	background-color: #eefbfb;
	padding: 30px;
}

.contact-form {
	background-color: #f7f2f7;
	padding: 30px;
}

form {
	width: 50%;
	margin: 0 auto;
}

.card-title-1 {
	font-family: 'Cardo', serif;
}

.form-group {
	font-family: 'Cardo', serif;
}

.footer-container {
	padding: 0;
	margin: 0;
}

.footer {
	background-color: #191919;
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Cardo', serif;
}
